.nav-element {
    float:left;
    font-weight: 700;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:5px;
    padding:5px;
    width:120px;
    color: #E4E4E4;
    text-align:center;
    border-radius: 50px 50px 50px 50px;
    
}
.nav-element:hover {
    background-color:#46669E;
}

.bg-darkblue {
    background-color: #192E66;
}

.material-icons {
    margin-top: 7px;
    font-size: 30px;
    color:#E4E4E4;
}

.nav-icon-element {
    float:left;
    margin-left: 5px;
    margin-right: 5px;
    width:50px;
    text-align:center;
    border-radius: 50px 50px 50px 50px;
}

.nav-icon-element:hover {
    background-color:#46669E;

    
}

