<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-darkblue">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink="/" routerLinkActive="active">
                    <div class="nav-icon-element">
                        <span class="material-icons">home</span>
                    </div>
                  </a>
              <a href="#">
                <div class="nav-element">
                    Matches
                </div>
              </a>
              <a href="#">
                <div class="nav-element">
                    Standings
                </div>
              </a>
              <a href="#">
                <div class="nav-element">
                    Predictions
                </div>
              </a>
            </div>
          </div>
          <a routerLink="/login" routerLinkActive="active">
            <div class="nav-icon-element">
                <span class="material-icons">login</span>
            </div>
          </a>
          <a>
            <div class="nav-icon-element">
                <span class="material-icons">logout</span>
            </div>
          </a>
          <a href="#">
            <div class="nav-icon-element">
                <span class="material-icons">account_circle</span>
            </div>
          </a>
        </div>
      </nav>
     
</div>


