.login-form {
    background-color: #C4C4C4;
    top:60%;
    left:50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    width: min-content;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    border-radius: 5px;

}
.login-form-element {
    padding:0px;
    margin:0px;
    width:300px;
}

.login-message {
    font-size: 14px;
    color: #192E66;
}

a::after {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #192E66;
    font-weight: 800;
}

a:hover {
    color: #46669E;
}

#login-btn {
    float: right;
}
