<div class="main shadow-effect">
    
    <div *ngIf="!isPageLoaded" class="content">
        <app-loader></app-loader>
    </div>
    <div *ngIf="isPageLoaded" class="content">
        <div class="header-section">
            <p>MATCHES</p>
            <hr>
        </div>
        <div class="matches-header-1">
            Matchday {{roundId}} of {{lastRound}}
        </div>
        <div class="matches-header-2">
            Results
        </div>
        <div>
            <app-match-item *ngFor="let match of matchList.fixtures" [match]="match"></app-match-item>
        </div>
        <div class="matches-header-2" style="margin-top:20px; font-weight: 600;">
            <div>
            <mat-label>Select matchday</mat-label>    
            </div>
            <div>
                <mat-form-field style="width: 35px; margin-top: -20px;">
                    <mat-select [(value)]="roundId">
                        <mat-option (click)="goToTheRound(round)" *ngFor="let round of rounds" [value]="round">
                            {{round}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

</div>