.match-part {
    float:left;
    text-align: center;
}

.match-main {
    width: 1180px;
    margin-left:-100px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.match-team {
    width:210px;
    margin-top:12px;
}

.match-result {
    width: 180px;
    
}

.match-score {
    padding:3px 0;
    width: 24px;
    height: 24px;
    float:left;
    background-color: white;
    margin:8px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 30%;
}

.prediction-score {
    padding:7px 0;
    width: 32px;
    height: 32px;
    float:left;
    background-color: white;
    margin: 4px;
    border-radius: 10%;
    text-align: center;
    border:none;
   
}

.prediction-score-label {
    padding:7px 0;
    width: 32px;
    height: 32px;
    float:left;
    background-color: gray;
    margin: 4px;
    border-radius: 10%;
    text-align: center;
    border:none;
}

.match-separator {
    text-align: center;
    float:left;
    margin-top:10px;
    width:20px;
}

.match-data {
    width: 170px;
    margin-top:12px; 
}

.draw {
    background-color: rgb(245, 241, 204);
}

.won {
    background-color: rgb(204, 245, 206);
}

.lost {
    background-color: rgb(238, 196, 192);
}

.draw-team {
    color: rgb(68, 58, 32);
}

.won-team {
    color: rgb(15, 36, 15);
    font-weight: bold;
}

.lost-team {
    color: rgb(rgb(43, 13, 13), green, blue);
}

.live-match {
    font-weight: 800;
    animation: blinker 2s linear infinite;
    color: rgb(160, 83, 0)
}
.live-match-color {
    font-weight: 600;
    color: rgb(160, 83, 0)
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.prediction-result {
    float:left;
    margin-top:5px;
    width: 220px;

}

.prediction-button {
    float:left;
    width: 145px;
}

.prediction-points {
    float:right;
    font-size: 30px;
    padding-top:8px;
    margin-left: 30px;
}

#predict-btn {
    text-align: center;
    font-size: 10px;
    width: 110px;
    height: 33px;
}

.result-icon {
    float:right;
    font-size: 34px;
    cursor: pointer;
}

.exact {
    color: green;
}

.correct {
    color: green;
}

.none {
    color: gray;
}

.pending {
    color: darkgoldenrod;
}

.incorrect {
    color: darkred;
}

.icons {
    width:25px;
    float:left;
}

.confirm-prediction {
    text-align: center;
    color:green;
    padding-top:8px;
    font-size: 18px;
    font-weight: 700;
    width: 110px;
    height: 33px;
}

