<div class="main shadow-effect">
    <div class="home-panel shadow-effect">
        <div class="home-element">
            <h2 >Rules of the predict match game</h2>
            <p>Prediction possibility</p>
            <ul>
                <li>Only logged users can predict matches</li>
                <li>User can predict any match which wasn't started yet </li>
                <li>User can check his results in his profile</li>
            </ul>

            <p>Users receive points as the following:</p>
            <ul>
                <li>3 points for predicting an exact score</li>
                <li>1 point for predicting the correct result </li>
            </ul>
        </div>
    </div>
</div>