.main {
    margin: auto;
    width: 1200px;
    height:650px;
    background-color: #C4C4C4;
    border-radius: 10px 10px 10px 10px;
}

.predict-header-1 {
    text-align: center;
    font-weight: 600;
    margin-left: -240px;

}

.predict-header-2 {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-left: -255px;
    width:1290px;
}

.predict-header-3 {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-left: -275px;
    width:1290px;
}
.content {

    margin-left: 100px;
    padding:10px;
    width: 1000px;
    
}
