.container  {
    min-width: 1000px;

    height: 100%;
    margin: 0 auto;
    background-color: white;
    opacity: 90%;
    padding: 0px;
    border-radius: 20px 20px 20px 20px;
}

.footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}