.container  {
    min-width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(228, 228, 228, 0.95);
    padding: 0px;
}

.footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}