.container  {
    min-width: 1200px;
    margin: 0 auto;
    background-color: rgba(228, 228, 228, 0.95);
    padding: 0px;
    padding-top:20px;
    min-height:700px;

}

.footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

