.profile-panel {
    float:left;
    background-color: #C4C4C4;
    margin: 30px;
    width: 540px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    min-height: 600px;
    

}

.profile-main {
    width:1200px;
    margin: auto;
    padding:0;

}

.profile-element {
    float:left;
    padding:10px;
    margin-top:10px;
}

.material-icons-profile {
    font-size:150px;
    color: gray;
}

.circle-element {
    background-color: #DCDFE2 !important;
    border-radius: 50%;
}

li {
    margin:-10px;

    text-decoration: none;
    list-style: none;
    padding: 10px;
}

.list-element {
    font-size:20px;
}

.list-header {
    font-size:20px;
    font-weight: 500;
    color: #192E66;
}

.list-edit {
    font-size:18px;
    font-weight: 500;
}

h1 {
    font-weight: 600;
    font-size: x-large;
}

h2 {
    font-weight: 600;
}
.profile-button {
    float:right;

}

.profile-buttons {
    width: 500px;
    clear:both;
    float:left;
}

.info-element {
    height: 350px;

}

#edit-btn {
    cursor:pointer;
    float:right;
}

#edit-btn:hover {
    color:grey;
}


.info {
    resize: none;
    height: 90px;
    color:#192E66
  }

  .edit-input {
    width: 350px;

}

.error-msg {
    color: red;
    font-size: 12px;
  }

  .edit-form-element {
    height: 40px;
    width:200px;
    background-color: white;
  }

  .edit-form-username {
    font-weight: 600;
    font-size: x-large;
  }

  .edit-form-info {
    height: 113px;
    width:200px;
    background-color: white;
  }

  .list-element-info {
    font-size:20px;
    width:350px;
    text-align: justify;
  }