.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;

  }

  .footer-content {
    width: 1320px;
    margin: 0 auto;
    background-color: #192E66;
    height: 40px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding-top:10px;
    font-size: 8px;
  }
